<nav class="nav font-semibold text-lg">
	<ul class="flex items-center">
		<li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active">
			<a href="{{ path('app_home') }}">Accueil</a>
		</li>
		<li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
			<a href="{{ path('api_products') }}">Produits</a>
		</li>

		<li class="relative group p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
			<a href="#">
				<span>Catégories</span>
			</a>
			<div class="hidden absolute bg-white text-gray-800 p-2 space-y-2 group-hover:block">
				<ul>
					<li><a href="#" class="text-sm hover:text-green-500">Men's clothing</a></li>
					<li><a href="#" class="text-sm hover:text-green-500">Women's clothing</a></li>
					<li><a href="#" class="text-sm hover:text-green-500">Jewelry</a></li>
					<li><a href="#" class="text-sm hover:text-green-500">Electronics</a></li>
				</ul>
			</div>
		</li>

		<li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
			<a href="#">Contact</a>
		</li>
	</ul>
</nav>
