{% extends 'base.html.twig' %}

{% block title %}Nos Produits
{% endblock %}

{% block body %}
	<div class="flex items-start">

		<div class="mt-8 w-full">
			<h2 class="text-3xl font-extrabold mb-4 text-green-500">À Propos</h2>
			<p class="text-gray-700 mb-4">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, justo ac bibendum gravida, arcu neque consectetur est, eu sodales nisl libero in metus. Vivamus tempus eros ut varius congue. Fusce auctor, libero sit amet luctus condimentum, turpis odio bibendum sapien, in euismod arcu quam vel mauris.
			</p>
			<p class="text-gray-700 mb-8">
				Nulla facilisi. Fusce tristique odio sit amet ex fermentum, a dapibus dui rhoncus. Duis nec sem at justo sollicitudin varius. Sed vel elit vel metus suscipit dignissim. Nulla facilisi. Nunc scelerisque sodales purus vel tincidunt.
			</p>
		</div>

		<div class="mt-8 w-full">
			<h2 class="text-3xl font-extrabold mb-4 text-green-500">À Propos</h2>
			<p class="text-gray-700 mb-4">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, justo ac bibendum gravida, arcu neque consectetur est, eu sodales nisl libero in metus. Vivamus tempus eros ut varius congue. Fusce auctor, libero sit amet luctus condimentum, turpis odio bibendum sapien, in euismod arcu quam vel mauris.
			</p>
			<p class="text-gray-700 mb-8">
				Nulla facilisi. Fusce tristique odio sit amet ex fermentum, a dapibus dui rhoncus. Duis nec sem at justo sollicitudin varius. Sed vel elit vel metus suscipit dignissim. Nulla facilisi. Nunc scelerisque sodales purus vel tincidunt.
			</p>
		</div>

	</div>
{% endblock %}
